* {
  color: black;
  background-color: #f0f0f0;
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.home__input {
  width: 400px;
}

/* Description Section */

.Description {
  max-width: 100%;
  text-align: center;
  margin: 2rem 0;

}

.description__para {
  margin: 1rem 0;
  font-size: 1.2rem;
}

/* Features Section */

.Features {
  display: flex;
  gap: 2rem;
  justify-content: center;
  margin: 2rem 0;
}

.features__list {
  list-style-type: none;
  padding: 0;
}

/* Testomonials Section */

.Testimonials {
  display: flex;
  max-width: 100%;
  margin: 2rem 0;
  justify-content: center;
}

.testimonial__para {
  display: flex;
  margin: 1rem 0;
  font-size: 1.2rem;
  justify-content: center;
  flex-direction: column;
}

/* Footer */
footer {
  padding: 1rem;
  background-color: #821313;
  width: 100%;
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 0;

}

.icon__items {
  display: flex;
  gap: 1rem;
  align-items: center;
  color: white;
  background-color: #821313;
}

.footer__para {
  padding-right: 40px;
  color: #fff;
  background-color: #821313;
}

/* Small Screens */
@media (max-width: 480px) {
  .Features {
    flex-direction: column;
    align-items: center;
  }
  .footer {
    flex-direction: column;
    align-items: center;
  }
  .footer__para {
    margin: 1rem 0 0 0;
  }
}

/* Large Screens */
@media (min-width: 768px) {
  .Features {
    flex-direction: row;
  }
  .footer {
    flex-direction: row;
    justify-content: space-between;
  }
  .footer__para {
    margin: 0;
  }
}

/* Computer Screens */
@media (min-width: 1024px) {
  .Features {
    flex-direction: row;
  }
}
