* {
  color: black;
  background-color: #f0f0f0;
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Description Section */

.Description {
  max-width: 800px;
  text-align: center;
  margin: 2rem 0;
}

.description__para {
  margin: 1rem 0;
  font-size: 1.2rem;
}

/* Features Section */

.Features {
  display: flex;
  gap: 2rem;
  justify-content: center;
  margin: 2rem 0;
}

.features__list {
  list-style-type: none;
  padding: 0;
}

/* Testomonials Section */

.Testomonials {
  max-width: 800px;
  text-align: center;
  margin: 2rem 0;
}

.testimonial__para {
  margin: 1rem 0;
  font-size: 1.2rem;
}

/* Footer */
footer {
  display: flex;
  padding: 1rem;
  background-color: #821313;
  width: 100%;
}

.icon__items {
  display: flex;
  gap: 1rem;
  align-items: center;
  color: white;
  background-color: #821313;
}

.footer__para {
  margin-left: auto;
  color: #fff;
  background-color: #821313;
}

