.translation__card {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin: 10px;
  width: 200px;
}

.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-wrap: wrap;
}

.translation {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  width: 100%;
}

/* Responsive Design */

/* Mobile Devices */
@media (max-width: 480px) {
  .translation__card {
    width: 100%;
  }
}

/* Tablets */
@media (max-width: 768px) {
  .translation__card {
    width: 45%;
  }
}

/* Computer Screens */
@media (min-width: 1024px) {
  .translation__card {
    width: 30%;
  }
}
